# Settings -> General Information
DISCORD_APP_ID=
DISCORD_APP_PUBLIC_KEY=

# Settings -> Bot
# Required to register commands, not required to actually run the bot
DISCORD_BOT_TOKEN=

# Settings -> Database
# Required to access supabase api
SUPABASE_KEY=